<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Input Group Examples</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>body { padding: 2rem }</style>
  </head>
  <body>
    <div class="container py-4">
      <h2 class="mb-5">Bootstrap Input Group Examples</h2>
      <p class="fw-bold mb-2">Input group without addons</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username">
        <input type="text" class="form-control" placeholder="Password">
      </div>
      <p class="fw-bold mb-2">Input group with floating labels and without addons</p>
      <div class="input-group mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInputUsername">
          <label for="floatingInputUsername">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingInputPassword">
          <label for="floatingInputPassword">Password</label>
        </div>
      </div>
      <p class="fw-bold mb-2">Input group with form control and select without addons</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username">
        <select class="form-select">
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>
      </div>
      <p class="fw-bold mb-2">Input group with floating labels, form control and select without addons</p>
      <div class="input-group mb-3">
        <div class="form-floating">
          <input type="text" class="form-control">
          <label>Your label name</label>
        </div>
        <div class="form-floating">
          <select class="form-select">
            <option>Red</option>
            <option>Green</option>
            <option>Color</option>
          </select>
          <label>Choose color</label>
        </div>
      </div>
    </div>
    <style>
      .input-group.input-group-vertical {

      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>
