<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Progress Bar Examples</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>body { padding: 2rem }</style>
  </head>
  <body>
    <div class="container py-4">
      <h2 class="mb-5">Bootstrap Progress Bar Examples</h2>
      <p class="fw-bold mb-2">Progress Bar with Sizes</p>
      <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 0.5rem">
        <div class="progress-bar w-25" style="font-size: 8px">Small</div>
      </div>
      <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar w-25">Default</div>
      </div>
      <div class="progress mb-4" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1.5rem">
        <div class="progress-bar w-25">Large</div>
      </div>
      <p class="fw-bold mb-2">Progress Bar with Rounded Pill</p>
      <div class="progress mb-4 rounded-pill" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar w-25"></div>
      </div>
      <p class="fw-bold mb-2">Progress Bar with Removed Corners</p>
      <div class="progress mb-4 rounded-0" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar w-25"></div>
      </div>
      <p class="fw-bold mb-2">Progress Bar with Sizes and Removed Corners</p>
      <div class="progress mb-3 rounded-0" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 0.5rem">
        <div class="progress-bar w-25" style="font-size: 8px">Small</div>
      </div>
      <div class="progress mb-4 rounded-0" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1.5rem">
        <div class="progress-bar w-25">Large</div>
      </div>
      <p class="fw-bold mb-2">Progress Bar with Gradient Bar Color</p>
      <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar w-75" style="background: linear-gradient(90deg,rgba(13, 110, 253, 1) 0%, rgba(13, 202, 240, 1) 100%);">75%</div>
      </div>
      <div class="progress mb-4" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar w-50" style="background: linear-gradient(90deg,rgba(13, 110, 253, 1) 0%, rgba(102, 16, 242, 1) 100%);">50%</div>
      </div>
      <p class="fw-bold mb-2">Progress Bar with Loading Status</p>
      <div class="progress mb-4" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" id="loadingBar"></div>
      </div>
      <p class="fw-bold mb-2">Vertical progress bar</p>
      <div class="d-block mb-4">
        <div class="progress d-flex flex-column-reverse" style="width: 1rem; height: 300px;">
          <div class="progress-bar bg-primary h-75 w-100"></div>
        </div>
      </div>
      <p class="fw-bold mb-2">Vertical progress bar with stacked colors</p>
      <div class="d-block mb-4">
        <div class="progress d-flex flex-column-reverse" style="width: 1rem; height: 300px;">
          <div class="progress-bar bg-primary w-100" style="height: 15%"></div>
          <div class="progress-bar bg-success h-25" style="height: 30%"></div>
          <div class="progress-bar bg-info h-25" style="height: 20%"></div>
        </div>
      </div>
    </div>
    <script>
    const bar = document.getElementById("loadingBar");
    var progress = 0;

    setInterval(() => {
      if (progress >= 100) {
        progress = 0;
      } else {
        progress += Math.floor(Math.random() * 10);
      }
      bar.style.width = progress + "%";
    }, 1000);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>
