<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Dropdown Examples</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>body { padding: 2rem }</style>
  </head>
  <body>
    <div class="container py-4">
      <h2 class="mb-5">Bootstrap Dropdown Examples</h2>
      <p class="fw-bold mb-2">Without a dropdown icon and custom used icon</p>
      <div class="dropdown mb-5">
        <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-1 mb-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
          </svg>
          <span>Create</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">New design</a></li>
          <li><a class="dropdown-item" href="#">New component</a></li>
          <li><a class="dropdown-item" href="#">New release</a></li>
        </ul>
      </div>
      <p class="fw-bold mb-2">Dropdown Menu with Shadow and No Border</p>
      <div class="dropdown mb-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span>Create</span>
        </button>
        <ul class="dropdown-menu shadow-sm border-0">
          <li><a class="dropdown-item" href="#">New design</a></li>
          <li><a class="dropdown-item" href="#">New component</a></li>
          <li><a class="dropdown-item" href="#">New release</a></li>
        </ul>
      </div>
      <p class="fw-bold mb-2">Dropdown Menu with Sizing</p>
      <div class="dropdown mb-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span>Small dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-sm">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mb-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span>Large dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <p class="fw-bold mb-2">Dropdown Menu and Button with Sizing</p>
      <div class="dropdown mb-5">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span>Small dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-sm">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mb-5">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span>Large dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <p class="fw-bold mb-2">Dropdown Menu with Sizing and Split Button</p>
      <div class="block mb-5">
      <div class="btn-group dropdown">
        <button class="btn btn-secondary btn-lg" type="button">
          <span>Large dropdown</span>
        </button>
        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu dropdown-menu-lg">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      </div>
      <div class="block">
      <div class="btn-group dropdown">
        <button class="btn btn-secondary btn-sm" type="button">
          <span>Small dropdown</span>
        </button>
        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu dropdown-menu-sm">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      </div>
    </div>
    <style>
      .dropdown-menu.dropdown-menu-lg {
        border-radius: 8px;
      }
      .dropdown-menu-lg .dropdown-item {
        font-size: 20px;
        padding-inline: 20px;
      }
      .dropdown-menu.dropdown-menu-sm {
        border-radius: 4px;
      }
      .dropdown-menu-sm .dropdown-item {
        font-size: 14px;
        padding-inline: 14px;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>
